In [3]:
from ProcessEnemDataClass import ProcessEnemData

penem = ProcessEnemData(ano=2019, competencia='CH', questoes_anuladas=['45'], caderno='Azul', feat_grupo='SG_UF_ESC')
enem_df = penem.get_data()

[INFO] Nota mínima:  0.0
[INFO] Nota mínima (diferente de zero):  315.9
[INFO] Nota máxima:  835.1

In [4]:
enem_df

,NU_NOTA_CH,SG_UF_ESC,Questao1,Questao2,Questao3,Questao4,Questao5,Questao6,Questao7,Questao8,...,Questao36,Questao37,Questao38,Questao39,Questao40,Questao41,Questao42,Questao43,Questao44,Questao45
28,466.8,RS,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,1,0,0
36,457.9,SP,1,1,0,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
55,436.3,AM,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1
56,431.1,DF,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
83,548.8,PI,0,0,0,0,0,1,1,0,...,0,1,0,1,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5094607,515.4,SP,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,1,0,1,1
5094727,458.2,SP,0,0,1,1,0,0,1,0,...,1,0,0,1,0,0,0,0,1,1
5094739,459.7,AM,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0
5094868,457.7,MT,1,0,1,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
5095093,498.0,MG,0,0,1,0,0,1,1,0,...,0,1,0,1,0,0,1,0,1,1